.game-method{
    padding: 6px;
    cursor: pointer;
}

.selected-game-method{
    padding: 3px;
    border: 3px solid white;
    border-radius: 6px;
}

.game-description{
    min-width: 200px;
    white-space: normal;
    text-align: left;
}

.game-levels-container {
    text-align: center;
    background-color: #249CD8;
    padding: 6px;
    border-radius: 6px;
    color: white;
}

.game-level-button{
    width: 200px;
    height: 30px;
    margin: 2px;
}

.game-container {
    display: inline-table;
    white-space: nowrap;
}

.line-number {
    float: left;
    color: lightblue;
    margin-top: 4px;
    margin-right: 2px;
    width: 20px;
    text-align: right;
}

.peg-guess {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    float: left;
    margin: 2px;
}

.peg-result {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    float: left;
    margin-top: 9px;
    margin-left: 4px;
}

.peg-color-empty {
    border: 1px solid #f0f0f0;
}

.peg-color-red {
    background-color: red;
    padding: 1px;
}

.peg-color-blue {
    background-color: blue;
    padding: 1px;
}

.peg-color-green {
    background-color: green;
    padding: 1px;
}

.peg-color-yellow {
    background-color: yellow;
    padding: 1px;
}

.peg-color-purple {
    background-color: purple;
    padding: 1px;
}

.peg-color-white {
    background-color: white;
    padding: 1px;
}

.guess-time {
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    margin-top: 2px;
    width: 50px;
    text-align: right;
    position: relative;
    z-index: 2;
}

.guess-time-percent-container{
    float: right;
    height: 20px;
    width: 50px;
    margin-right: -50px;
    overflow: visible;
    left: -50px;
    position: relative;
    z-index: 1;
}

.guess-time-percent{
    background-color: #404040;
    height: 20px;
}

.result-peg {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    border: 1px solid white;
    float: left;
    margin-top: 9px;
    margin-left: 4px;
}

.result-points {
    font-weight: bold;
    color: green;
    font-size: 30px;
}

.result-table-div {
    text-align: center;
}

.examples_table th{
    font-size: 10px;
    text-align: center;
}

.result-table {
    width: 100%;
}

.actual-container {
    display: table;
    margin-left: 22px;
}

.result-outer-container {
    background-color: black;
    border-radius: 5px;
    padding: 6px;
}

.guess-outer-container {
    background-color: darkgray;
    border-radius: 5px;
    padding: 6px;
}

.guess-inner-container {
    padding-left: 22px;
    height: 26px;
}

.clear {
    float: none;
    clear: both;
}

.float-right {
    float: right;
}

.align-center {
    text-align: center;
}

.white-text{
    color: white;
}

.command {
    cursor: pointer;
}

body {
    font-size: .85em;
    font-family: Arial;
    color: #232323;
    background-color: #fff;
    text-align: center;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/

a{
    color: white
}

button{
    background-color:rgba(220,220,220,0.35);
    border-radius: 8px;
    border: 0px;
    padding: 2px 6px 2px 6px;
    border: 1px solid rgba(100,100,100,0.25);
}

select{
    background-color:rgba(220,220,220,0.35);
    border-radius: 8px;
    border: 0px;
    padding: 2px 6px 2px 6px;
    border: 1px solid rgba(100,100,100,0.25);
}

th {
    text-align: left;
}

td {
    text-align: right;
}

h2 {
    text-align: center;
}

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
