.game-container{
    max-width: 500px;
}

.guess-peg {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid white;
    float: left;
    margin: 2px;
}

.result-peg {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    border: 1px solid white;
    float: left;
    margin-top: 9px;
    margin-left: 4px;
}

.result-outer-container {
    background-color: black;
    border-radius: 5px;
    padding: 6px;
}

.guess-outer-container {
    background-color: darkgray;
    border-radius: 5px;
    padding: 6px;
}

.guess-inner-container{
    height: 26px;
}

.clear {
    float: none;
    clear: both;
}

.float-right{
    float: right;
}

.align-center{
    text-align: center;
}

.command{
    cursor: pointer;
}

body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
h2{
    text-align: center
}

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
