@{
    ViewBag.Title = "Master Mind";
}

@Scripts.Render("~/bundles/mastermind")

<div class="game-container">
    <div data-bind="visible: !isSetup()">
        <table>
            <tr>
                <th>Level</th>
            </tr>
            <tr>
                <td>
                    <ul data-bind="foreach: [2,3,4,5,6,7,8,9,10]">
                        <li>
                            <button data-bind="click: $parent.setupGame, enable: !$parent.isCommunicating(), text: 'Level ' + ($data - 1)">Start Game</button>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>

    <div class="result-outer-container" data-bind="visible: isSetup()">
        <div data-bind="foreach: serverVm().Results">
            <div data-bind="text: ($index() + 1)" class="line-number"></div>

            <!-- ko foreach: Guess -->
            <div data-bind="attr: {class: 'peg-guess peg-color-' + constants.guessColors[$data]}">
            </div>
            <!-- /ko -->
            <!-- ko foreach: Result -->
            <div data-bind="attr: {class: 'peg-result peg-color-' + constants.resultColors[$data]}">
            </div>
            <!-- /ko -->

            <div data-bind="text: $data['TimeLapse'] == undefined ? '' : $data.TimeLapse.TotalSeconds.toFixed(0) + ' sec'" class="guess-time"></div>

            <div class="clear"></div>
        </div>
    </div>

    <div class="guess-outer-container" data-bind="visible: isSetup() && !serverVm().IsOver">
        <div class="guess-inner-container">
            <span data-bind="visible: currentGuess().length == 0">[Click Pegs Below to Guess]</span>

            <!-- ko foreach: currentGuess -->
            <div data-bind="attr: {class: 'peg-guess peg-color-' + $data}">
            </div>
            <!-- /ko -->

            <button data-bind="click: sendGuess, enable: !isCommunicating(), visible: currentGuess().length == guessWidth()" class="command float-right"><b>Send</b></button>
            <div class="clear"></div>
        </div>

        <div class="clear"></div>

        <div>
            <!-- ko foreach: constants.guessColors -->
            <div data-bind="attr: {class: 'peg-guess command peg-color-' + $data}, click: $parent.pegAction">
            </div>
            <!-- /ko -->

            <button data-bind="click: pegAction" class="command float-right">Backspace</button>
        </div>
        <div class="clear"></div>
    </div>

    <div data-bind="visible: serverVm().IsOver" class="result-outer-container">
        <div class="actual-container">
            <!-- ko foreach: serverVm().Actual -->
            <div data-bind="style: {backgroundColor: constants.guessColors[$data]}" class="peg-guess">
            </div>
            <!-- /ko -->
            <div class="clear"></div>
        </div>
    </div>

    <br />

    <h3 data-bind="visible: serverVm().IsOver && serverVm().IsAWin">
        You Win!!! - <span data-bind="text: serverVm().TotalTimeLapse != undefined ? serverVm().TotalTimeLapse.TotalSeconds.toFixed(1) + ' seconds' : ''"></span>
    </h3>
    <h3 data-bind="visible: serverVm().IsOver && !serverVm().IsAWin">You Lost</h3>

    <br />

    <div class="align-center">
        <button data-bind="click: reset, visible: isSetup()" class="command">New Game</button>
    </div>
</div>