@{
    ViewBag.Title = "Think Quick";
}

@Scripts.Render("~/bundles/mastermind")

<div class="game-container">
    <div data-bind="visible: !isSetup()" class="game-levels-container">
        <div class="game-description">
            <b>How To Play</b>
            <br />
            In this MasterMind game you figure out the randomly selected mystery sequence of colors.
            Your "clues" (described below) are shown to the right of your guess.
            <ul>
                <li>A red peg means you have the correct color peg in the correct position</li>
                <li>A white peg means you're using a color that exists in the mystery sequence but in the wrong place</li>
                <li>An empty space means you're using a color that's not in the mystery sequence</li>
            </ul>
            You can select whether you want your results calculated per color or per peg. (see below)
            <p />

            <center>

                Calculate guess results:
                <select data-bind="value: resultLogic">
                    <option value="perpeg">By Peg</option>
                    <option value="percolor">By Color</option>
                </select>

                <table class="examples_table">
                    <tr>
                        <th>Results By Color</th>
                        <th>Results By Peg</th>
                    </tr>
                    <tr>
                        <td><img src='@Url.Content("~/Content/images/miniscreenshot_percolor.png")' /></td>
                        <td><img src='@Url.Content("~/Content/images/miniscreenshot.png")' /></td>
                    </tr>
                </table>
            </center>
        </div>

        <p />

        <center><b>Play</b></center>

        <!-- ko foreach: [4,5,6] -->
        <button data-bind="click: $parent.setupGame, enable: !$parent.isCommunicating(), text: 'Level ' + ($data - 3)"
                class="game-level-button command white-text">
            Start Game
        </button>
        <br />
        <!-- /ko -->

        <br />
        <a href="https://github.com/stewie1570/MasterMindGame">Source Code at GitHub.com</a>
    </div>

    <div class="result-outer-container" data-bind="visible: isSetup()">
        <div data-bind="foreach: serverVm().results">
            <div data-bind="text: ($index() + 1)" class="line-number"></div>

            <!-- ko foreach: guess -->
            <div data-bind="attr: {class: 'peg-guess peg-color-' + constants.guessColors[$data]}">
            </div>
            <!-- /ko -->
            <!-- ko foreach: result -->
            <div data-bind="attr: {class: 'peg-result peg-color-' + constants.resultColors[$data]}">
            </div>
            <!-- /ko -->

            <div class="guess-time-percent-container">
                <div class="guess-time-percent" data-bind="attr:{style: 'width: ' + $data.timeLapsePercent + '%'}"></div>
            </div>

            <div data-bind="text: $data['timeLapse'] == undefined ? '' : $data.timeLapse.totalSeconds.toFixed(0) + ' sec'" class="guess-time">
            </div>

            <div class="clear"></div>
        </div>
    </div>

    <div class="guess-outer-container" data-bind="visible: isSetup() && !serverVm().isOver">
        <div class="guess-inner-container">
            <span data-bind="visible: currentGuess().length == 0">[Click Pegs Below to Guess]</span>

            <!-- ko foreach: currentGuess -->
            <div data-bind="attr: {class: 'peg-guess peg-color-' + $data}">
            </div>
            <!-- /ko -->

            <div class="clear"></div>
        </div>

        <div class="clear"></div>

        <div>
            <!-- ko foreach: constants.guessColors -->
            <div data-bind="attr: {class: 'peg-guess command peg-color-' + $data}, click: $parent.pegAction">
            </div>
            <!-- /ko -->

            <button data-bind="click: pegAction" class="command float-right">Backspace</button>
        </div>
        <div class="clear"></div>
    </div>

    <div data-bind="visible: serverVm().isOver" class="result-outer-container">
        <div class="actual-container">
            <!-- ko foreach: serverVm().actual -->
            <div data-bind="attr: {class: 'peg-guess peg-color-' + constants.guessColors[$data]}">
            </div>
            <!-- /ko -->
            <div class="clear"></div>
        </div>
    </div>

    <br />

    <h3 data-bind="visible: serverVm().isOver && serverVm().isAWin">
        Solved!!!
    </h3>

    <div data-bind="visible: serverVm().isOver && serverVm().isAWin" class="result-table-div">
        <table class="result-table">
            <tr>
                <th>Total Seconds</th>
                <td>
                    <span data-bind="text: serverVm().totalTimeLapse != undefined ? serverVm().totalTimeLapse.totalSeconds.toFixed(1) : ''"></span>
                </td>
            </tr>
            <tr>
                <th>Distinct Colors</th>
                <td>
                    <span data-bind="text: serverVm().colorCount != undefined ? serverVm().colorCount : ''"></span>
                </td>
            </tr>
            <tr>
                <th>Total Points</th>
                <td class="result-points">
                    <span data-bind="text: serverVm().score != undefined ? serverVm().score : ''"></span>
                </td>
            </tr>
        </table>
    </div>

    <h3 data-bind="visible: serverVm().isOver && !serverVm().isAWin">You Lost</h3>

    <br />

    <div class="align-center">
        <button data-bind="click: reset, visible: isSetup()"
                class="command">
            New Game
        </button>
        <button data-bind="click: shareScore, visible: serverVm().isOver && serverVm().isAWin"
                class="command">
            Share My Score
        </button>
    </div>
</div>
